* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-gap: 20px;
    min-height: 100vh;
    padding: 20px;
    grid-template-areas:
        'header'
        'nav'
        'content'
        'footer';
    grid-template-rows: 10vw 50px auto 50px;
    background-color: #6BCEFF;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
    display: flex;
    background-color: #1767B3;
    color: white;
    font-size: 20px;
    border-radius: 20px;
}

.subtitle {
    flex-basis: 80vw;
    padding: 13px 0px 0px 50px;
    font-size: 20px;
}

.navbutton {
    flex-basis: 10vw;
    text-align: center;
    padding: 13px 20px 0px 20px;
    font-size: 20px;
    padding: 10px;
    background-color: #2799E6;
}

.content {
    display:flex;
    grid-area: content;
    justify-content:center;
    padding: 20px;
}

footer {
    grid-area: footer;
    background-color: #1767B3;
    color: white;
    font-size: 14px;
    text-align: center;
    padding-top: 15px;
    border-radius: 20px;
}

h1 {
    font-family: monospace;
    font-size: 10vw;
    font-weight: normal;
    text-align: center;
    color: #114466;
}

.Profile {
    display: flex;
    justify-content: center;
    border-radius: 23 px;
    margin-bottom: 12px;
    align-items: center;
    background-color: #3D81B0;
    width: 33%;
    border: 2px solid #193648;
    border-radius: 20px;
    min-width:fit-content;
}

.Profile > div {
    display: flex;
    align-content:center;
    width:100%;
    height:fit-content;
}
.Profile > div > div {
        display: flex;
        align-content: center;
        flex-direction: column;
        height:fit-content;
        width:100%;
}

    .Profile > div > div > div {
        padding: 10px;
        justify-content: space-between;
        display: flex
    }



    .Profile > div > div > h1 {
        font-size:20px;
        color:#000;
        text-align: center;
        font-size: xx-large;
        color: burlywood;
        background-color: #00000020;
        border-color:black;
        border-bottom:4px solid #000;
        width: 100%;
    }