@page
@model ZooBazaar_SAIA_Web.Pages.ProfileModel
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    
    <form method="post" class="Profile">
        <input hidden asp-for="Employee.password"  />
        <input hidden asp-for="Employee.ID" />
        <input hidden asp-for="Employee.StartDate" />
        <input hidden asp-for="Employee.EndDate" />
        <input hidden asp-for="Employee.ContractType" />
        <input hidden asp-for="Employee.HourlyWage" />
        <input hidden asp-for="Employee.DepartureReason" />
        <input hidden asp-for="Employee.ShiftsPerWeek" />
        <input hidden asp-for="Employee.Role" />
        <div>
            <div>
                <h1>Profile</h1>



                <div>
                    <label asp-for="Employee.FirstName">First name:*</label>
                    <span asp-validation-for="Employee.FirstName"></span>
                    <input asp-for="Employee.FirstName" />
                </div>

                <div>
                    <label asp-for="Employee.LastName">Last name:*</label>
                    <span asp-validation-for="Employee.LastName"></span>
                    <input asp-for="Employee.LastName" />
                </div>

                <div>
                    <label asp-for="Employee.Bsn">BSN:*</label>
                    <span asp-validation-for="Employee.Bsn"></span>
                    <input asp-for="Employee.Bsn" />
                </div>

                <div>
                    <label asp-for="Employee.Email">Email:*</label>
                    <span asp-validation-for="Employee.Email"></span>
                    <input asp-for="Employee.Email" />
                </div>

                <div>
                    <label asp-for="Employee.Birthdate">Birthdate:*</label>
                    <span asp-validation-for="Employee.Birthdate"></span>
                    <input asp-for="Employee.Birthdate" />
                </div>

                <div>
                    <label asp-for="Employee.Address">Address:*</label>
                    <span asp-validation-for="Employee.Address"></span>
                    <input asp-for="Employee.Address" />
                </div>

                <div>
                    <label asp-for="Employee.username">Username:*</label>
                    <span asp-validation-for="Employee.username"></span>
                    <input asp-for="Employee.username" />
                </div>





                <div>
                    <input type="submit" value="Save" />
                </div>
            </div>
        </div>

    </form>
</body>
